<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Inventory</title>

	<link rel="stylesheet" href="../../wwwroot/css/app.css" />
	<link rel="stylesheet" href="../../wwwroot/css/debug.css" />
</head>

<body>
	<div class="grid-y grid-frame">
		<div class="cell shrink header medium-cell-block-container">
			<div class="top-bar">
				<div class="top-bar-left">
					<ul class="dropdown menu" data-dropdown-menu>
						<li class="menu-text">
							<a href="dashboard.html">
								<i class="fas fa-cat"></i>
								TreeCat
							</a>
						</li>
						<li><a href="#">Inventory</a></li>
						<li><a href="FieldMapping.html">Field Mappings</a></li>
					</ul>
				</div>
				<div class="top-bar-right">
					Settings?
				</div>
			</div>
		</div>

		<!--THIS IS WHERE PAGE-SPECIFIC CONTENT STARTS-->

		<!-- Controls -->
		<div class="cell shrink medium-cell-block-container">
			<div class="grid-x grid-margin-x align-middle">
				<div class="cell shrink">
					<div class="input-group">
						<a class="input-group-label">Bulk Action</a>
						<a class="dropdown button arrow-only">
							<span class="show-for-sr"><input type="submit" class="button" value="Delete"/></span>
							<span class="show-for-sr"><input type="submit" class="button" value="Bulk Edit"/></span>
							<span class="show-for-sr"><hr/></span>
							<span class="show-for-sr"><input type="submit" class="button" value="Unlist Everywhere"/></span>
							<span class="show-for-sr"><input type="submit" class="button" value="Relist Everywhere"/></span>
						</a>
					</div>
				</div>
				<div class="cell shrink">
					<div class="input-group">
						<span class="input-group-label">Platform Filter</span>
						<select class="input-group-field">
							<option value="*">All</option>
							<option value="amazon">Amazon</option>
							<option value="eBay">eBay</option>
							<option value="Etsy">Etsy</option>
							<option value="Poshmart">Poshmart</option>
							<option value="Mercari">Mercari</option>
							<option value="Emag">Emag</option>
						</select>
					</div>
				</div>
				<div class="cell shrink">
					<div class="input-group">
						<span class="input-group-label">Show</span>
						<select class="input-group-field">
							<option value="10">10</option>
							<option value="25">25</option>
							<option value="50">50</option>
							<option value="100">100</option>
						</select>
						<span class="input-group-label">Rows</span>
					</div>
				</div>
				<div class="cell shrink">
					<div class="primary button-group">
						<a class="button">PgUp</a>
						<a class="button">PgDn</a>
					</div>
				</div>
				<div class="cell shrink">
					<div class="input-group">
						<input class="input-group-field" placeholder="Search" type="text" />
						<select class="input-group-field">
							<option value="*">All Fields</option>
							<option value="Title">Title</option>
							<option value="SKU">SKU</option>
							<option value="Description">Description</option>
						</select>
						<div class="input-group-button">
							<button type="button" class="button full-height float-right">
								<i class="fas fa-search"></i>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="cell full-height medium-auto medium-cell-block-container">
			<!-- Main data section -->

			<table class="scroll">
				<thead>
					<tr>
						<th><input type="checkbox"></th>
						<th>Image</th>
						<th>Product Name</th>
						<th>Listings</th>
						<th>SKU</th>
						<th>Qty</th>
						<th>Created</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td scope="col"><input type="checkbox"></td>
						<td><img class="thumb40" src="../../wwwroot/images/Toshiba remote control 1.jpg"></td>
						<td>Toshiba Remote Control CT-8027</td>
						<td>
							<img src="../../wwwroot/images/amazon-thumb.png">
							<img src="../../wwwroot/images/ebay-thumb.png">
						</td>
						<td>RSW002</td>
						<td>1</td>
						<td>2020-02-04</td>
					</tr>
					<tr>
						<td><input type="checkbox"></td>
						<td><img class="thumb40" src="../../wwwroot/images/Sony_remote controle 2.jpg"></td>
						<td>Sony Remote Control RMT-811 sempor delorum ipser yada yada yada yada yada yada</td>
						<td>
							<img src="../../wwwroot/images/ebay-thumb.png">
							<img src="../../wwwroot/images/etsy-thumb.png">
						</td>
						<td>RSW003</td>
						<td>1</td>
						<td>2020-04-02</td>
					</tr>

				</tbody>
			</table>

		</div>

		<!-- THIS IS WHERE PAGE-SPECIFIC CONTENT ENDS -->

		<div class="cell shrink footer">
			<div class="grid-x">
				<div class="cell">
					<span class="label success data-tooltip" title="Logged in as Odin.">
						<i class="fas fa-lock-open"></i> Odin
					</span>
					<span class="label alert float-right">
						<i class="fas fa-exclamation-triangle"></i> Failed to sync items.
					</span>
					<span class="label warning data-tooltip float-right" title="12 items left to sync.">
						<i class="fas fa-info"></i> 12
					</span>
				</div>
			</div>
		</div>
	</div>

	<script>if (typeof module === 'object') { window.module = module; module = undefined; }</script>

	<script src="../../wwwroot/lib/jquery/dist/jquery.js"></script>
	<script src="../../wwwroot/lib/foundation/dist/js/foundation.js"></script>
	<script src="../../wwwroot/lib/font-awesome/js/all.js"></script>

	<script src="../../wwwroot/js/site.js" asp-append-version="true"></script>
	<script src="../../wwwroot/js/resizable-panel.js" asp-append-version="true"></script>

	<script>if (window.module) module = window.module;</script>

	<script>
		$(document).ready(function () {
			$(document).foundation();
		}) 
	</script>
</body>

</html>