<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Item</title>

    <link rel="stylesheet" href="../../wwwroot/css/app.css" />
    <link rel="stylesheet" href="../../wwwroot/lib/foundation-icons/foundation-icons.css" />
    <link rel="stylesheet" href="../../wwwroot/css/debug.css" />
</head>

<body>
    <div class="grid-y grid-frame">

        <!--THIS IS WHERE PAGE-SPECIFIC CONTENT STARTS-->
        <!-- Controls -->
        <!-- Row of search criteria -->

        <div class="cell medium-auto medium-cell-block-container">
            <div class="grid-x full-height">
                <div class="cell shrink">
                    <h4>Create Item</h4>
                    <hr>
                    <h5>TreeCat Details</h5>
                    <hr>
                    <h5>Listings</h5>
                    <div class="grid-x grid-padding-x selected">
                        <div class="cell medium-4">
                            EBay
                        </div>
                        <div class="cell shrink">
                            <select>
                                <option value="Listed">Listed</option>
                                <option value="Not Listed">Not Listed</option>
                                <option value="Sold" selected>Sold</option>
                                <option value="Delisted">Delisted</option>
                            </select>
                        </div>
                    </div>

                    <div class="grid-x grid-padding-x">
                        <div class="cell medium-4">
                            Etsy
                        </div>
                        <div class="cell shrink">
                            <select>
                                <option value="Listed">Listed</option>
                                <option value="Not Listed">Not Listed</option>
                                <option value="Sold">Sold</option>
                                <option value="Delisted" selected>Delisted</option>
                            </select>
                        </div>
                    </div>
                    <div class="grid-x grid-padding-x">
                        <div class="cell medium-4">
                            Mercari
                        </div>
                        <div class="cell shrink">
                            <select>
                                <option value="Listed">Listed</option>
                                <option value="Not Listed" selected>Not Listed</option>
                                <option value="Sold">Sold</option>
                                <option value="Delisted">Delisted</option>
                            </select>
                        </div>
                    </div>
                    <div class="grid-x grid-padding-x">
                        <div class="cell medium-4">
                            Amazon
                        </div>
                        <div class="cell shrink">
                            <select>
                                <option value="Listed">Listed</option>
                                <option value="Not Listed" selected>Not Listed</option>
                                <option value="Sold">Sold</option>
                                <option value="Delisted">Delisted</option>
                            </select>
                        </div>
                    </div>
                    <div class="grid-x grid-padding-x">
                        <div class="cell medium-4">
                            Poshmart
                        </div>
                        <div class="cell shrink">
                            <select>
                                <option value="Listed">Listed</option>
                                <option value="Not Listed" selected>Not Listed</option>
                                <option value="Sold">Sold</option>
                                <option value="Delisted">Delisted</option>
                            </select>
                        </div>
                    </div>
                    <div class="grid-x grid-padding-x">
                        <div class="cell medium-4">
                            EMag
                        </div>
                        <div class="cell shrink">
                            <select>
                                <option value="Listed">Listed</option>
                                <option value="Not Listed" selected>Not Listed</option>
                                <option value="Sold">Sold</option>
                                <option value="Delisted">Delisted</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="cell resizable-left-panel-handle"></div>
                <div class="grid-x">
                    <form>
                        <div class="grid-x grid-margin-x">
                            <div class="large-4 cell">
                                <h4>TreeCat Details</h4>
                            </div>
                            <div class="large-4 cell">
                                <p>
                                    TreeCat Item ID<br />
                                    KHUEPK5YLCOQEM4YPYAP
                                </p>
                            </div>
                            <div class="large-4 cell">
                                <p>
                                    Status<br />
                                    Sold
                                </p>
                            </div>
                            <div class="medium-12 cell">
                                <hr>
                            </div>
                        </div>
                        <div class="grid-x grid-padding-x">
                            <div class="cell medium-3">
                                <h5>Item Photos</h5>
                            </div>
                            <div class="cell medium-9">
                                (<a target="_blank" href="#" class="blue-link">Upload Photos</a>)
                            </div>
                            <div class="cell medium-3">
                                <img class="thumb100" src="../../wwwroot/images/Sony_remote controle 2.jpg">
                            </div>
                            <div class="cell medium-3">
                                <img class="thumb100" src="../../wwwroot/images/Sony_remote controle 2.jpg">
                            </div>
                            <div class="cell medium-3">
                                <img class="thumb100" src="../../wwwroot/images/Sony_remote controle 2.jpg">
                            </div>
                            <div class="cell medium-3">
                                <img class="thumb100" src="../../wwwroot/images/Sony_remote controle 2.jpg">
                            </div>
                            <div class="medium-12 cell">
                                <hr>
                            </div>
                            <div class="medium-12 cell">
                                <label>Title <span class="required">*</span></label>
                                <input type="text" />
                                <p>52 character count - Poshmark: 50 limit - Mercari: 40 limit</p>
                            </div>
                            <div class="medium-12 cell">
                                <label>Description <span class="required">*</span></label>
                                <textarea></textarea>
                            </div>
                        </div>
                        <div class="grid-x grid-padding-x">
                            <div class="large-4 medium-4 cell">
                                <label>Title <span class="required">*</span></label>
                                <input type="text" placeholder="large-4.cell" />
                            </div>
                            <div class="large-4 medium-4 cell">
                                <label>Input Label</label>
                                <input type="text" placeholder="large-4.cell" />
                            </div>
                            <div class="large-4 medium-4 cell">
                                <div class="grid-x">
                                    <label>Input Label</label>
                                    <div class="input-group">
                                        <input type="text" placeholder="small-9.cell" class="input-group-field" />
                                        <span class="input-group-label">.com</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-x grid-padding-x">
                            <div class="large-12 cell">
                                <label>Select Box</label>
                                <select>
                                    <option value="husker">Husker</option>
                                    <option value="starbuck">Starbuck</option>
                                    <option value="hotdog">Hot Dog</option>
                                    <option value="apollo">Apollo</option>
                                </select>
                            </div>
                        </div>
                        <div class="grid-x grid-padding-x">
                            <div class="large-6 medium-6 cell">
                                <label>Choose Your Favorite</label>
                                <input type="radio" name="pokemon" value="Red" id="pokemonRed"><label for="pokemonRed">Radio 1</label>
                                <input type="radio" name="pokemon" value="Blue" id="pokemonBlue"><label for="pokemonBlue">Radio 2</label>
                            </div>
                            <div class="large-6 medium-6 cell">
                                <label>Check these out</label>
                                <input id="checkbox1" type="checkbox"><label for="checkbox1">Checkbox 1</label>
                                <input id="checkbox2" type="checkbox"><label for="checkbox2">Checkbox 2</label>
                            </div>
                        </div>
                        <div class="grid-x grid-padding-x">
                            <div class="large-12 cell">
                                <label>Textarea Label</label>
                                <textarea placeholder="small-12.cell"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="cell resizable-left-panel-handle"></div>
                <div class="cell full-height medium-auto medium-cell-block-container">
                    EBay Listing Details
                </div>



            </div>

        </div>

        <!-- THIS IS WHERE PAGE-SPECIFIC CONTENT ENDS -->
    </div>

</body>

</html>