﻿<!-- Controls -->
<!-- Row of search criteria -->
<div class="cell shrink">
    <div class="cell shrink">

        TEST
    </div>

</div>


<div class="cell medium-auto medium-cell-block-container">
    <div class="grid-x full-height">
        <div class="cell full-height medium-auto medium-cell-block-container">
            <!-- Main data section -->
            <h1>Source Platform Records</h1>
            <table class="scroll">
                <thead>
                    <tr>
                        <th><input type="checkbox"></th>
                        <th>Image</th>
                        <th>Product Name</th>
                        <th>Listings</th>
                        <th>SKU</th>
                        <th>Qty</th>
                        <th>Created</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="col"><input type="checkbox"></td>
                        <td><img class="thumb40" src="../../wwwroot/images/Toshiba remote control 1.jpg"></td>
                        <td>Toshiba Remote Control CT-8027</td>
                        <td>
                            <img src="../../wwwroot/images/amazon-thumb.png">
                            <img src="../../wwwroot/images/ebay-thumb.png">
                        </td>
                        <td>RSW002</td>
                        <td>1</td>
                        <td>2020-02-04</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox"></td>
                        <td><img class="thumb40" src="../../wwwroot/images/Sony_remote controle 2.jpg"></td>
                        <td>Sony Remote Control RMT-811 sempor delorum ipser</td>
                        <td>
                            <img src="../../wwwroot/images/ebay-thumb.png">
                            <img src="../../wwwroot/images/etsy-thumb.png">
                        </td>
                        <td>RSW003</td>
                        <td>1</td>
                        <td>2020-04-02</td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div class="cell resizable-left-panel-handle"></div>
        <div class="cell full-height medium-auto medium-cell-block-container">
            <!-- Main data section -->
            <h1>Similar TreeCat Records</h1>

            <table class="scroll">
                <thead>
                    <tr>
                        <th><input type="checkbox"></th>
                        <th>Image</th>
                        <th>Product Name</th>
                        <th>Listings</th>
                        <th>SKU</th>
                        <th>Qty</th>
                        <th>Created</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="col"><input type="checkbox"></td>
                        <td><img class="thumb40" src="../../wwwroot/images/Toshiba remote control 1.jpg"></td>
                        <td>Toshiba Remote Control CT-8027</td>
                        <td>
                            <img src="../../wwwroot/images/amazon-thumb.png">
                            <img src="../../wwwroot/images/ebay-thumb.png">
                        </td>
                        <td>RSW002</td>
                        <td>1</td>
                        <td>2020-02-04</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox"></td>
                        <td><img class="thumb40" src="../../wwwroot/images/Sony_remote controle 2.jpg"></td>
                        <td>Sony Remote Control RMT-811 sempor delorum ipser</td>
                        <td>
                            <img src="../../wwwroot/images/ebay-thumb.png">
                            <img src="../../wwwroot/images/etsy-thumb.png">
                        </td>
                        <td>RSW003</td>
                        <td>1</td>
                        <td>2020-04-02</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>