

<div class="cell medium-auto medium-cell-block-container">
    <div class="grid-x full-height">
        <div class="grid-y full-height">
            <div class="grid-x grid-margin-x">
                <div class="cell shrink">

                    <div class="input-group">
                        <div class="input-group-label">Source Platform:</div>
                        <div>
                            <select class="input-group-field">
                                <option value="amazon">Amazon</option>
                                <option value="eBay" selected>eBay</option>
                                <option value="Etsy">Etsy</option>
                                <option value="Poshmart">Poshmart</option>
                                <option value="Mercari">Mercari</option>
                                <option value="Emag">Emag</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="cell shrink">
                    <div class="input-group">
                        <div class="input-group-label">Filter:</div>
                        <div>
                            <input class="input-group-field" placeholder="Keyword" type="text" />
                        </div>
                    </div>
                </div>
                <div class="cell shrink">
                    <div class="input-group">
                        <input type="submit" class="button" value="Refresh List">
                        <div class="input-group-label">Last Refreshed: 2020-07-20 14h30</div>
                        <input type="submit" class="button" value="Import Selected">
                    </div>
                </div>
            </div>
            <div class="cell medium-6 medium-cell-block">
                <!-- Main data section -->
                <table class="scroll">
                    <thead>
                        <tr>
                            <th><input type="checkbox"></th>
                            <th>Image</th>
                            <th>Product Name</th>
                            <th>Source ID</th>
                            <th>Qty</th>
                            <th>Created</th>
                            <th>Src</th>
                            <th>TreeCat Title</th>
                            <th>TC SKU</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="background-color:greenyellow; color:black;">
                            <td scope="col"><input type="checkbox"></td>
                            <td>
                                <img class="thumb40" src="../../wwwroot/images/Toshiba remote control 1.jpg">
                            </td>
                            <td>Toshiba Remote Control CT-8027</td>
                            <td>74290384923</td>
                            <td>1</td>
                            <td>2020-02-04</td>
                            <td>
                                <a style="color:blue;"
                                    href="https://www.ebay.com/itm/TOSHIBA-Genuine-OEM-CT-8027-Remote-Control-TESTED/193498913565?hash=item2d0d6f1b1d:g:B0UAAOSw-gBe2ZqN"
                                    target="_blank"><img src="../../wwwroot/images/ebay-thumb.png"></a>
                            </td>
                            <td>Toshiba Remote Control CT-8027</td>
                            <td>24998348564</td>
                        </tr>
                        <tr style="background-color:yellowgreen;">
                            <td><input type="checkbox" checked></td>
                            <td><img class="thumb40" src="../../wwwroot/images/Sony_remote controle 2.jpg"></td>
                            <td>Sony Remote Control RMT-811</td>
                            <td>24998348564</td>
                            <td>1</td>
                            <td>2020-04-02</td>
                            <td>
                                <a style="color:blue;"
                                    href="https://www.ebay.com/itm/Genuine-Sony-Camcorder-Camera-Remote-Control-RMT-811-Tested-And-Works/184131178352?hash=item2adf12cf70:g:T~MAAOSwQLZeIPp8:sc:USPSFirstClass!02465!US!-1"
                                    target="_blank">
                                    <img src="../../wwwroot/images/ebay-thumb.png">
                                </a>
                            </td>
                            <td colspan="2">
                                [No TreeCat Match Found] <a style="color:blue;" href="#">
                                    item
                                    details
                                </a>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="cell resizable-up-panel-handle">...</div>
            <div class="cell">
                <div class="grid-container fluid">
                    <div class="grid-x grid-padding-x">
                        <div class="large-12 cell">
                            <div class="callout">
                                <h3>Sony Remote Control RMT-811</h3>
                                <p>
                                    Genuine Sony Camcorder Camera Remote Control RMT-811 Tested And
                                    Works<br />
                                    Model: RMT-811<br />
                                    Good preowned condition. Tested and works. Remote may show some signs of
                                    wear and use.<br />
                                    Batteries Not Included
                                </p>
                                <div class="grid-x grid-padding-x">
                                    <div class="large-4 medium-4 cell">
                                        <p>
                                            <strong>Category</strong><br />
                                            Electronics->Remote Controls
                                        </p>
                                    </div>
                                    <div class="large-4 medium-4 cell">
                                        <p>
                                            <strong>Color</strong><br />
                                            Black
                                        </p>
                                    </div>
                                    <div class="large-4 medium-4 cell">
                                        <p>
                                            <strong>Quantity Price</strong><br />
                                            1 $7.99
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cell resizable-left-panel-handle"></div>
        <div class="cell full-height medium-auto medium-cell-block-container">
            <div class="grid-y full-height">
                <!-- Main data section -->
                <div class="grid-x grid-margin-x align-middle">
                    <div class="cell shrink">
                        <h4>TreeCat Lookup</h4>
                    </div>
                    <div class="cell shrink">
                        <div class="input-group">
                            <div class="input-group-label">Filter:</div>
                            <div>
                                <input class="input-group-field" placeholder="Keyword" type="text" />
                            </div>
                        </div>
                    </div>
                    <div class="cell shrink">
                        <input type="submit" class="button " value="Find Potential Matches">
                    </div>
                    <div class="cell shrink">
                        <input type="submit" class="button " value="Link Selected" disabled>
                    </div>
                </div>
                <div class="cell medium-6 medium-cell-block">
                    <table class="scroll">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Image</th>
                                <th>Product Name</th>
                                <th>Listings</th>
                                <th>TreeCat SKU</th>
                                <th>Qty</th>
                                <th>Created</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="radio" checked></td>
                                <td>
                                    <img class="thumb40" src="../../wwwroot/images/Sony_remote controle 2.jpg">
                                </td>
                                <td>Sony Remote Control RMT-811</td>
                                <td>
                                    <img src="../../wwwroot/images/etsy-thumb.png">
                                </td>
                                <td>RSW003</td>
                                <td>1</td>
                                <td>2020-04-02</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="cell resizable-up-panel-handle">...</div>
                <div class="cell">
                    <div class="grid-container fluid">
                        <div class="grid-x grid-padding-x">
                            <div class="large-12 cell">
                                <div class="callout">
                                    <h3>Sony Remote Control RMT-811</h3>
                                    <p>
                                        Genuine Sony Camcorder Camera Remote Control RMT-811 Tested And
                                        Works<br />
                                        Model: RMT-811<br />
                                        Good preowned condition. Tested and works. Remote may show some signs of
                                        wear and use.<br />
                                        Batteries Not Included
                                    </p>
                                    <div class="grid-x grid-padding-x">
                                        <div class="large-4 medium-4 cell">
                                            <p>
                                                <strong>Category</strong><br />
                                                Electronics->Remote Controls
                                            </p>
                                        </div>
                                        <div class="large-4 medium-4 cell">
                                            <p>
                                                <strong>Color</strong><br />
                                                Black
                                            </p>
                                        </div>
                                        <div class="large-4 medium-4 cell">
                                            <p>
                                                <strong>Quantity Price</strong><br />
                                                1 $7.99
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>