<!-- Controls -->
<div class="cell shrink medium-cell-block-container">
	<div class="grid-x grid-margin-x align-middle">
		<div class="cell shrink">
			<div class="button-group">
				<span class="input-group-label">Bulk Action</span>
				<button class="dropdown button arrow-only" data-toggle="bulk-action-dropdown" />
				<div class="dropdown-pane" data-position="bottom" data-alignment="right"
					style="text-align: left;" id="bulk-action-dropdown" data-dropdown>
					<a href="#">Bulk Delete</a><br />
					<a href="#">Bulk Edit</a><br />
					<hr />
					<a href="#">Unlist Everywhere</a><br />
					<a href="#">Relist on Same Platforms</a><br />
				</div>
			</div>
		</div>
		<div class="cell shrink">
			<div class="input-group">
				<span class="input-group-label">Platform Filter</span>
				<select class="input-group-field">
					<option value="*">All</option>
					<option value="amazon">Amazon</option>
					<option value="eBay">eBay</option>
					<option value="Etsy">Etsy</option>
					<option value="~/inventoryposhmark">Poshmark</option>
					<option value="Mercari">Mercari</option>
					<option value="Emag">Emag</option>
				</select>
			</div>
		</div>
		<div class="cell shrink">
			<div class="input-group">
				<span class="input-group-label">Show</span>
				<select class="input-group-field">
					<option value="10">10</option>
					<option value="25">25</option>
					<option value="50">50</option>
					<option value="100">100</option>
				</select>
				<span class="input-group-label">Rows</span>
			</div>
		</div>
		<div class="cell shrink">
			<div class="primary button-group">
				<a class="button"><i class="fi-arrow-up" style="font-size: 24px"></i></a>
				<a class="button"><i class="fi-arrow-down" style="font-size: 24px"></i></a>
			</div>
		</div>
		<div class="cell shrink">
			<div class="input-group">
				<input class="input-group-field" placeholder="Search" type="text" />
				<select class="input-group-field">
					<option value="*">All Fields</option>
					<option value="Title">Title</option>
					<option value="SKU">SKU</option>
					<option value="Description">Description</option>
				</select>
				<div class="input-group-button">
					<button type="button" class="button full-height float-right">
						<i class="fi-magnifying-glass" style="font-size: 14px;"></i>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="cell full-height medium-auto medium-cell-block-container">
	<!-- Main data section -->

	<table class="scroll">
		<thead>
			<tr>
				<th><input type="checkbox"></th>
				<th>Flag</th>
				<th>Image</th>
				<th>Product Name</th>
				<th>Listings</th>
				<th>SKU</th>
				<th>Price</th>
				<th>Qty</th>
				<th>Created</th>
				<th>Follow-up Link</th>
			</tr>
		</thead>
        <tbody>
            @foreach (var item in ViewBag.Items)
            {
                <tr class="status-@item.Status">
                    <td><input type="checkbox"></td>
                    <td>@item.Status</td>
                    <td><img class="thumb40" src="@item.MainImageURL"></td>
                    <td><a href="~/item/edit" target="_blank">@item.Title</a></td>
                    <td>
						???
                    </td>
                    <td>??</td>
                    <td>$@item.Price</td>
                    <td>??</td>
                    <td>??</td>
                    <td><a href="~" target="_blank">EBay Sale</a></td>
                </tr>
            }
        </tbody>
	</table>
    <p>@ViewBag.EmptyInventoryMessage</p>
</div>