@using ui_agent.Models
@inject lib.ITokenGetters tokenGetters

@{
    var googleTokenGetter = tokenGetters.Google;
 }

@{ ViewData["Title"] = "Welcome"; }
<div class="grid-x full-height">
    <div class="cell auto medium-cell-block-y">
        <span>
            Welcome to Treecat!
        </span>

        @if (string.IsNullOrWhiteSpace(googleTokenGetter.GetToken().Result))
        {
            <span>
                Please use your Google account to login.
            </span>
            <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
        }
    </div>
</div>

<script>
    function onSignIn(googleUser) {
        var xhr = new XMLHttpRequest();
        var profile = googleUser.getBasicProfile();

        xhr.onreadystatechange = function () {
            if (xhr.readyState == XMLHttpRequest.DONE) {
                window.location.reload(false);
            }
        }

        xhr.open("POST", "/auth/googledone", true);
        xhr.setRequestHeader('Content-Type', 'application/json');

        xhr.send(JSON.stringify({
            ID: profile.getId(),
            FullName: profile.getName(),
            GivenName: profile.getGivenName(),
            FamilyName: profile.getFamilyName(),
            ImageURL: profile.getImageUrl(),
            Email: profile.getEmail(),
            IDToken: googleUser.getAuthResponse().id_token,
        }));
    }
</script>
