@{ ViewData["Title"] = "Welcome"; }
<div class="grid-x full-height">
    <div class="cell auto medium-cell-block-y">
        <span>
            Welcome to Treecat!
        </span>

        <br />

        <span style="font-size: large">
            @ViewBag.WelcomeMessage
        </span>
    </div>
</div>
