@using ui_agent.Models

@{
    ViewData["Title"] = "Data Mapping";
}
<h2 class="text-center">Title Mapping Algorithm</h2>
<table width="100%" cellspacing="1" cellpadding="5">
    <tbody>
        @if (ViewBag.Categories != null)
        {
            foreach (var category in (CategoryModel[])ViewBag.Categories)
            {
                <tr>
                    <th></th>
                    <td>
                        @Html.DisplayFor(modelItem => category.Name) (Max 140 characters)
                    </td>
                </tr>
                <tr>
                    <th>
                        Choose target listing platform:
                    </th>
                    <td>
                        <img src="images/amazon-thumb.png">
                        <img src="images/ebay-thumb.png">
                        <img src="images/etsy-thumb.png">
                        <img src="images/poshmark-thumb.PNG">
                        <img src="images/mercari-thumb-selected.png">
                        <img src="images/emag-thumb.png">
                    </td>
                </tr>

                <tr>
                    <th>
                        Mapping Algorithm:
                    </th>
                    <td>
                        <input type="radio" id="algorithm"> Direct 1:1 mapping (truncated if necessary)<br>
                        <input type="radio" id="algorithm"> Equation: <input type="text"
                                                                             placeholder="[color] + [size] + [title]">
                        <button type="submit">Add Title</button>&nbsp;
                        <button type="submit">Add Size</button>&nbsp;
                        <button type="submit">Add Color</button>&nbsp;
                        <button type="submit">Add Category</button>
                    </td>
                </tr>
                <tr>
                    <th></th>
                    <td>
                        Mercari Title - Max 40 characters
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center;">
                        <button type="submit">Save Mapping</button>&nbsp;
                        <button type="submit">Cancel</button>
                    </td>
                </tr>
            }
        }

    </tbody>
</table>