@using ui_agent.Models

@{
    ViewData["Title"] = "Data Mapping";
}
<div class="grid-x full-height">
    <div class="cell medium-2 medium-cell-block-y">
        <div class="grid-y full-height">
            <div class="cell medium-6 medium-cell-block">
                <div class="input-group">
                    <input class="input-group-field" placeholder="Search" type="text" />
                    <div class="input-group-button">
                        <button type="button" class="button full-height float-right">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>

                <div class="cell small-11">
                    <ul class="vertical menu accordion-menu" data-accordion-menu>
                        <li>
                            <a href="#">Item 1</a>
                            <ul class="menu vertical nested">
                                <li><a href="#">Item 1A</a></li>
                                <li><a href="#">Item 1B</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Item 2</a></li>
                    </ul>
                </div>
            </div>
            <div class="cell resizable-up-panel-handle">...</div>
            <div class="cell auto medium-cell-block">
                <ul class="vertical menu accordion-menu" data-accordion-menu>
                    <li>
                        <a href="#">Item 1</a>
                        <ul class="menu vertical nested">
                            <li><a href="#">Item 1A</a></li>
                            <li><a href="#">Item 1B</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Item 2</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="cell resizable-left-panel-handle"></div>
    <div class="cell auto medium-cell-block-y">
        <form>
            <div class="grid-container">
                <div class="grid-y">
                    <div class="cell">
                        <label>
                            Direct Mapping
                        </label>
                        <div class="switch small">
                            <input class="switch-input" id="yes-no" type="checkbox" name="exampleSwitch">
                            <label class="switch-paddle" for="yes-no">
                                <span class="switch-active" aria-hidden="true">Yes</span>
                                <span class="switch-inactive" aria-hidden="true">No</span>
                            </label>
                        </div>
                    </div>
                    <div class="cell">
                        <label>
                            Equation
                        </label>
                        <input type="text" placeholder="please input an equation">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="cell resizable-right-panel-handle"></div>
    <div class="cell medium-2 medium-cell-block-y">
        <div class="grid-y">
            <div class="cell small-1">
                <div class="input-group">
                    <input class="input-group-field" placeholder="Search" type="text" />
                    <div class="input-group-button">
                        <button type="button" class="button full-height float-right">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>

                <div class="cell small-11">
                    <ul class="vertical menu accordion-menu" data-accordion-menu>
                        <li>
                            <a href="#">Item 1</a>
                            <ul class="menu vertical nested">
                                <li><a href="#">Item 1A</a></li>
                                <li><a href="#">Item 1B</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Item 2</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
