@charset 'utf-8';
@import '../lib/foundation/scss/foundation.scss';
@import "settings";

@include foundation-everything($flex: true);

body{
    overflow-x: hidden;
}

.resizable-left-panel-handle {
    background-color: $light-gray;
    width: 0.5rem;
    cursor: ew-resize;
}

.resizable-right-panel-handle {
    background-color: $light-gray;
    width: 0.5rem;
    cursor: ew-resize;
}

.resizable-up-panel-handle {
    background-color: $light-gray;
    height: 0.2rem;
    line-height: 0.2rem;
    cursor: ns-resize;
    overflow: auto;
    display: block;
}

.resizable-down-panel-handle {
    background-color: $light-gray;
    height: 0.2rem;
    line-height: 0.2rem;
    cursor: ns-resize;
}

.footer {
    background-color: $light-gray;
}

.full-height {
    height: 100%
}

.thin-border-right {
    border-right: 1px solid $white;
}
