@inject lib.ITokenGetters tokenGetters

@{ 
    var ebayTokenGetter = tokenGetters.EBayTokenGetter();
}


<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TreeCat</title>

    <link rel="stylesheet" href="~/css/app.css" />
    <link rel="stylesheet" href="~/css/debug.css" />

    <link rel="import" href="menus">
</head>

<body>
    <div class="grid-y grid-frame">
        <div class="cell shrink header medium-cell-block-container">
            <div class="top-bar">
                <div class="top-bar-left">
                    <ul class="dropdown menu" data-dropdown-menu>
                        <li class="menu-text thin-border-right"><i class="fas fa-cat"></i> TreeCat</li>
                        <li><a href="~/item/inventory">Inventory</a></li>
                        <li><a href="~/data/importdata">Import Data</a></li>
                        <li><a href="~/data/fieldmapping">Field Mappings</a></li>
                        <li><a href="~/item/add">Add Item</a></li>
                    </ul>
                </div>
                <div class="top-bar-right">
                    <ul class="menu">
                    </ul>
                </div>
            </div>
        </div>

        <div class="cell medium-auto medium-cell-block-container">
            @RenderBody()
        </div>

        <div class="cell shrink footer">
            <div class="grid-x">
                <div class="cell">

                    @if (string.IsNullOrWhiteSpace(ebayTokenGetter.Get()))
                    {
                        <span class="label alert data-tooltip" title="Ebay not logged in.">
                            <i class="fas fa-exclamation-triangle"></i> <a href="https://auth.ebay.com/oauth2/authorize?client_id=VladIova-Treecat-PRD-4bcdaddba-89642d26&response_type=code&redirect_uri=Vlad_Iovanov-VladIova-Treeca-vehtia&scope=https://api.ebay.com/oauth/api_scope https://api.ebay.com/oauth/api_scope/sell.marketing.readonly https://api.ebay.com/oauth/api_scope/sell.marketing https://api.ebay.com/oauth/api_scope/sell.inventory.readonly https://api.ebay.com/oauth/api_scope/sell.inventory https://api.ebay.com/oauth/api_scope/sell.account.readonly https://api.ebay.com/oauth/api_scope/sell.account https://api.ebay.com/oauth/api_scope/sell.fulfillment.readonly https://api.ebay.com/oauth/api_scope/sell.fulfillment https://api.ebay.com/oauth/api_scope/sell.analytics.readonly https://api.ebay.com/oauth/api_scope/sell.finances https://api.ebay.com/oauth/api_scope/sell.payment.dispute https://api.ebay.com/oauth/api_scope/commerce.identity.readonly">Ebay not logged in.</a>
                        </span>
                    } else
                    {
                        <span class="label success data-tooltip" title="Ebay logged in.">
                            <i class="fas fa-info"></i> Ebay logged in.
                        </span>
                    }

                    <span class="label alert float-right">
                        <i class="fas fa-exclamation-triangle"></i> Failed to sync items.
                    </span>

                    <span class="label warning data-tooltip float-right" title="12 items left to sync.">
                        <i class="fas fa-info"></i> 12
                    </span>
                </div>
            </div>
        </div>
    </div>

    <script>if (typeof module === 'object') { window.module = module; module = undefined; }</script>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/foundation/dist/js/foundation.js"></script>
    <script src="~/lib/font-awesome/js/all.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/resizable-panel.js" asp-append-version="true"></script>

    <script>if (window.module) module = window.module;</script>

    <script>
        $(document).ready(function () {
            $(document).foundation();
        })
    </script>

    @RenderSection("scripts", required: false)
</body>

</html>



